@import url(color.css);

.navbar {
    /* position: sticky;
    top:0;
    z-index:10; */
    background-color: rgba(201, 177, 112, 0.4);

    padding-top: 0;
    padding-bottom: 0;
}

.bg-wp{
    height: 100vh;
    min-height: 300px;

    background-image: url("../img/top-background-pc.jpg");
    background-color:rgba(200, 180, 110, 0.6);
    background-size: cover;

    background-blend-mode:lighten;

}
