@import url(color.css);

/* header */
header{
    color: #EE827D;
}

.bg-image{
    height: 100vh;
    min-height: 300px;
    background-image: url("../img/top-background-pc.jpg");
    background-color:rgba(201, 177, 112, 0.6);
    background-blend-mode:lighten;
    background-size: cover;
}

.bg-image p {
    color: #ffff;
}

.slideshow {
    background-color: #EE827D;
}

.slideshow p {
    color: #ffff;
}

/* bootstrap */

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
}
