/* calendar */
/* .calendar .card-body{
    border: var(--form-control-border);
} */

.calendar .table {
    background-color: var(--calendar-backgroundcolor);
    color:var(--table-color);
    border: var(--calender-table-border);
}

.calendar th,.calendar td {
    border: var(--calendar-border);
    height: 100px;
    width: 100px;
    color: var(--calendar-font);
}

.calendar th {
    text-align: center;
    height: 50px;
}

.calendar td a {
    height: 100%;
    width: 100%;
    display: block;
    text-decoration: none;
    color:inherit;
}

/* 日曜日 */
.calendar th:nth-of-type(1),
.calendar td:nth-of-type(1) {
    color: var(--calendar-sunday-color);
}

/* 土曜日 */
.calendar th:nth-of-type(7),
.calendar td:nth-of-type(7) {
    color: var( --calendar-saturday-color);
}


/* 今日 */
.calendar .table .today {
    background-color: rgba(255, 255, 0, 0.3);
}

/* 前の月へ・次の月へ */
.calendar .prev-btn,.calendar .next-btn{
    /* color:var(--calendar-btn-color); */
    padding: 5px 10px;
    font-size: 30px;
    text-decoration: none;
    border-radius: 20%;
}

.calendar .my-check {
    color:var(--my-check-color);
    display: block;
    text-align: center;
    border:solid 1px var(--my-check-backcolor);
    border-radius: 20%;
    background-color: var(--my-check-backcolor);
    margin-bottom: 5px;
}

.calendar .my-check-draft {
    color:var(--my-check-draft-color);
    display: block;
    text-align: center;
    border:solid 1px var(--my-check-draft-backcolor);
    border-radius: 20%;
    background-color: var(--my-check-draft-backcolor);
    margin-bottom: 5px;
}

.calendar .partner-check{
    color: var(--partner-check-color);
    display: block;
    text-align: center;
    border:solid 1px var(--partner-check-backcolor);
    border-radius: 20%;
    background-color: var(--partner-check-backcolor);
}

.calendar-btn{
    text-align: center;
    color: var(--show-item-color);
    /* border-bottom: var(--diary-info-border);
    margin-bottom: 20px; */
}
