/* calendar */

.calendar .prev-btn,.calendar .next-btn{
    color:var(--calendar-btn-color);
    font-size: 30px;
    text-decoration: none;
}

.calendar th,.calendar td {
    border: 1px solid #EE827D;
    /* border-right: none !important;
    border-left: none !important; */
    height: 50px;
    width: 50px;
    color: var(--calendar-font);
}

.calendar th {
    text-align: center;
}

.calendar td a {
    height: 100%;
    width: 100%;
    display: block;
    text-decoration: none;
    color:inherit;
}

/* 日曜日 */
.calendar th:nth-of-type(1),
.calendar td:nth-of-type(1) {
    color: var(--calendar-sunday-color);
}

/* 土曜日 */
.calendar th:nth-of-type(7),
.calendar td:nth-of-type(7) {
    color: var( --calendar-saturday-color);
}

.table {
    background-color: var(--main-color);
    color:var(--table-color);
    border-color: var(--table-border-color);
}

.table .today {
    background-color: rgba(255, 255, 0, 0.3);
}

/* modal */

.btn-edit {
    text-align: right;
}
