/* header.css */

.navbar {
    background-color: var(--sub-color);
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand{
    font-family: 'Lobster', cursive;
    color:var(--font-color) !important;
}

.navbar-light .navbar-nav .nav-link {
    color:var(--font-color) !important;
}

.nav-link i {
    margin-left:5px;
}

.dropdown-menu {
    background-color: var(--dropdown-menu-backgroundcolor);
}

.dropdown-item {
    color:var(--font-color) !important;
}

