/* header.css */

.navbar {
    background-color: rgba(201, 177, 112, 0.3);
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand{
    font-family: 'Lobster', cursive;
}

.navbar-light .navbar-nav .nav-link {
    color:#EE827D;
}

.dropdown-item {
    color:#EE827D;
}

