#tags {
    margin-top:10px;
}

.tag{
    display: block;
    text-align: center;
    font-size:20px;
    background: var(--tag-background);
    color: var(--tag-color);
    border:var(--tag-border);
}
