.navbar-light .navbar-toggler {
    border-color: rgba(0,0,0,0);
}

.navbar-light .navbar-toggler-icon {
    background-image:var(--navbar-toggler-icon);
}

.attention{
    color:red;
    font-size: 0.5rem;
    margin-left: 10px;
}

/* 成功メッセージ */
.alert-success {
    margin:0;
}

/* エラーメッセージ */
.alert {
    margin-bottom: 0;
}

body{
    font-family: 'Kosugi Maru', sans-serif;
}

hr{
    color:var(--hr-color);
}

.card-group{
    padding:0;
    margin:0;
}

.card{
    background-color: var(--card-background);
    color:var(--card-color);
    background-image: var(--card-background-image);
    border: var(--card-border);
    margin-bottom:0 !important;
}

.card-body {
    margin-top: 20px;
}

.draught{
    width:100%;
    margin: 0 auto;
    display: block;
    text-align: center;
    background-color: var(--draught-backgroundcolor);
    color:var(--draught-color);
    margin-bottom: 10px;
}

.diary-info{
    display: inline-block;
    text-align: center;
    color: var(--show-item-color);
    border-bottom: var(--diary-info-border);
    /* margin-left: 10px; */
    margin-bottom: 20px;
}

.diary-info span{
    margin-left: 20px;
    font-size: 0.9rem;
}
.diary-link{
    float: right;
    /* font-size: 1.0rem;
    background:var(--diary-link-background) */;
}

.menu-list{
    height:100px;
	overflow:hidden;
    width:100%;
}

/* 入力フォーム */
.form-group{
    margin-bottom: 20px;
    margin-right: auto !important;
    margin-left: auto !important;
}

.form-label{
    color:var(--form-label-color);
}

.form-control{
    background-color: var(--form-control-backgroundcolor);
    color:var(--form-control-color);
    border:var(--form-control-border);
}

.form-control:focus {
    color: var(--form-control-color-focus);
    background-color: var(--form-control-backgroundcolor-focus);
    border-color: #86b7fe;
}

.submit-btn{
    color: var(--submit-btn-color);
    background-color: var(--submit-btn-backgroundcolor);
    border-color: var(--submit-btn-bordercolor);
}

.submit-btn:hover{
    color: var(--submit-btn-color-hover);
    background-color: var(--submit-btn-backgroundcolor-hover);
    border-color: var(--submit-btn-bordercolor-hover);
}

.btn-check:checked + .mood-btn{
    color: var(--submit-btn-color);
    background-color: var(--submit-btn-backgroundcolor);
    border-color: var(--submit-btn-bordercolor);
}

.btn-check:checked + .health-btn{
    color: var(--submit-btn-color);
    background-color: var(--submit-btn-backgroundcolor);
    border-color: var(--submit-btn-bordercolor);
}

/* 気分 */
.mood-btn{
    color: var(--submit-btn-color-hover);
    background-color: var(--submit-btn-backgroundcolor-hover);
    border-color: var(--submit-btn-bordercolor-hover);
}
.mood-btn-active{
    color: var(--submit-btn-color);
    background-color: var(--submit-btn-backgroundcolor);
    border-color: var(--submit-btn-bordercolor);
}
.mood-btn:hover{
    color: var(--submit-btn-color);
    background-color: var(--submit-btn-backgroundcolor);
    border-color: var(--submit-btn-bordercolor);
}

/* 体調 */
.health-btn{
    color: var(--submit-btn-color-hover);
    background-color: var(--submit-btn-backgroundcolor-hover);
    border-color: var(--submit-btn-bordercolor-hover);
}
.health-btn-active{
    color: var(--submit-btn-color);
    background-color: var(--submit-btn-backgroundcolor);
    border-color: var(--submit-btn-bordercolor);
}
.health-btn:hover{
    color: var(--submit-btn-color);
    background-color: var(--submit-btn-backgroundcolor);
    border-color: var(--submit-btn-bordercolor);
}

.show-list-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.show-list{
    margin-bottom:25px;
    border-bottom:var(--show-list-color);
}

.show-title{
    margin-bottom: 10px;
    color:var(--show-title-color);
}

.show-title>span{
    color:var(--show-item-color);
    text-align: center;
}

.show-item{
    color:var(--show-item-color);
}

.show-img-container{
    width: 50%;
    height: 10rem;
    float: left;
}

.show-img{
    max-width:100%;
    max-height: 100%;
    display: block;
    cursor:pointer;
    margin:0 auto;
}

.show-img-name{
    margin:0;
    text-align: center;
    color:var(--show-img-color);
}

/* PCはcol-10 */
.form-container{
    width: 83.33333333% !important;
    margin-top: 30px !important;

    background-color: var(--form-control-backgroundcolor);
    border: var(--form-control-border);
}

/* spはcol-12 */
@media(max-width: 576px) {
    .form-container{
    width: 100% !important;
}
}

.images{
    margin-top: 20px;
}

/* edit */
.image-name{
    color:var(--image-name-color);
    display: inline-block;
}
