:root{
    /* all */
    --main-color:rgba(73, 51, 54, 0.3);
    --sub-color:black;
    --font-color:#FFFFCF;
    --hr-color:white;
    --card-background-image:repeating-linear-gradient(black 0px, black 24px, gray 25px);
    --card-border:1px solid rgba(255,255,255,0.5);

    /* header */
    --dropdown-menu-backgroundcolor:black;

    /* form */
    --form-label-color:#FFFFCF;
    --form-control-color:#FFFF;
    --form-control-color-focus:#FFFF;
    --form-control-border:3px solid #FFFFCF;
    --form-control-backgroundcolor:black;
    --form-control-backgroundcolor-focus:gray;
    --submit-btn-color:black;
    --submit-btn-backgroundcolor:#FFFFCF;
    --submit-btn-bordercolor:#FFFFCF;
    --submit-btn-color-hover:#FFFFCF;
    --submit-btn-backgroundcolor-hover:black;
    --submit-btn-bordercolor-hover:#FFFFCF;

    /* list */
    --show-list-color:3px solid #FFFFCF;
    --show-title-color:#FFFFCF;
    --show-item-color:#ffff;
    --show-img-color:black;
    --diary-link-background:linear-gradient(transparent 60%, #FFFFCF 0%) ;


    --card-background:black;
    --card-color:#FFFF;
    --diary-info-border:3px double #FFFFCF;

    /* カレンダー */
    --calendar-backgroundcolor:rgba(0, 0, 0);
    --calendar-font:#FFFF;
    --calendar-border:1px solid #FFFFCF;
    --calendar-btn-color:white;
    --calendar-saturday-color:rgb(131, 131, 245);
    --calendar-sunday-color:rgb(255, 104, 104);
    --table-color:#FFFF;
    --table-border-color:#FEEEED;
    --my-check-color:#FFFFCF;
    --my-check-bordercolor:blue;
    --partner-check-color:#FFFFCF;
    --partner-check-bordercolor:red;

    /* modal */
    --modal-bacgroundcolor:black;
    --modal-header-border-bottom:black;
    --setting-list-color:white;

    /* profile */
    --profile-username-color:#FFFFCF;
    --profile-td-answer-color:#FFFFCF;
    --profile-table-backgroundcolor:black;
    --profile-backgroundline:#FFFFCF;
    --profile-borderbottom:1px solid #FFFFCF;

    /* tag */
    --tag-background:rgba(0, 0, 0, 0.5);
    --tag-color:white;
    --tag-border:3px solid #FFFFCF;
}
