:root{
    /* 全体 */
    --main-color:rgba(255, 232, 236, 0.3);
    --sub-color:rgba(201, 177, 112, 0.3);
    --font-color:#EE827D !important;
    --hr-color:inherit;
    --card-background-image:repeating-linear-gradient(white 0px, white 24px, steelblue 25px);
    --card-border:1px solid rgba(0, 0, 0, 0.125);

    /* header */
    --dropdown-menu-backgroundcolor:white;
    --navbar-toggler-icon:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

    /* form */
    --form-label-color:#EE827D;
    --form-control-color:inherit;
    --form-control-color-focus:inherit;
    --form-control-border:3px solid pink;
    --form-control-backgroundcolor:white;
    --form-control-backgroundcolor-focus:white;
    --submit-btn-color:#ffff;
    --submit-btn-backgroundcolor:#EE827D;
    --submit-btn-bordercolor:#EE827D;
    --submit-btn-color-hover:#EE827D;
    --submit-btn-backgroundcolor-hover:#ffff;
    --submit-btn-bordercolor-hover:#EE827D;

    /*show list */
    --show-list-color:3px solid #EE827D;
    --show-title-color:#EE827D;
    --show-item-color:gray;
    --show-img-color:inherit;
    --diary-link-background:linear-gradient(transparent 60%, #EE827D 0%) ;
    --draught-backgroundcolor:#EE827D;
    --draught-color:#ffff;

    /* card全体 */
    --card-background:inherit;
    --card-color:gray;
    --diary-info-border:10px double #EE827D;

    /* calendar */
    --calender-table-border:var(--form-control-border);
    --calendar-backgroundcolor:rgba(255,255,255);
    --calendar-saturday-color:blue;
    --calendar-sunday-color:red;
    --calendar-font:gray;
    --calendar-border:1px solid #EE827D;
    --table-color:gray;
    --table-border-color:#FEEEED;
    --my-check-color:white;
    --my-check-backcolor:blue;
    --my-check-draft-color:white;
    --my-check-draft-backcolor:#EE827D;
    --partner-check-color:white;
    --partner-check-backcolor:red;

    /* modal */
    --modal-bacgroundcolor:white;
    --modal-header-border-bottom:inherit;
    --setting-list-color:inherit;

    /* profile list*/
    --profile-username-color:black;
    --profile-td-answer-color:inherit;
    --profile-table-backgroundcolor:white;
    --profile-backgroundline:#EE827D;
    --profile-borderbottom:1px solid red;

    /* tag */
    --tag-background:linear-gradient(-135deg, #a371c7,#E4A972);
    --tag-color:white;
    --tag-border:none;

    /* edit */
    --image-name-color:inherit;
}
